.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 5rem;
    box-shadow: 0 0 20px #020c1b;
    position: fixed;
    top: 10px;
    width: 90%;
    left: 5%;
    border-radius: 2.5rem;

    .sections {
        width: 30rem;
        display: inherit;
        justify-content: space-between;
        color: #3382f9;
        margin-right: 2rem;
    }
}