.portfolio_container {

    .filters_container {
        display: flex;
        justify-content: center;

        .filter {
            margin: 0 0.5rem;
            cursor: pointer;
            color: var(--title-color);
            font-weight: var(--font-semi-bold);
            padding: 0.5rem 1rem;
            border-radius: 0.75rem;

            &.filter_selected {
                color: #fff;
                background-color: var(--title-color);
            }
        }

    }

    .projects_container {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        column-gap: 2rem;
        row-gap: 2rem;

        .project {
            background-color: var(--container-color);
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 0.75rem;
            padding: 1rem;

            .project_image {
                border-radius: 0.75rem;
            }

            .project_heading {
                font-weight: var(--font-medium);
                color: var(--title-color);
                margin: 0.5rem 0;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .projects_container {
        grid-template-columns: repeat(1, 280px) !important;
    }

    .filters_container {
        .filter {
            margin: 0 0.2rem !important;
            padding: 0.25rem 0.5rem !important;
            border-radius: 0.5rem !important;
        }
    }
}