.container {
    width: 100vw;
    height: 100%;
    // border: 5px solid pink;
    position: relative;

    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: yellow;
    
        .blob1 {
            height: 25rem;
            width: 30rem;
            position: absolute;
            // z-index: 1;
            top: 0;
            left: 75vw;
        }

        .blob2 {
            height: 25rem;
            width: 30rem;
            background-color: red;
            border-radius: 100% 0% 100% 0% / 100% 0% 100% 0% ;
            position: absolute;
            // z-index: 1;
            top: 10%;
            right: 0;
        }
    }
    
    .header {
        height: 6.25rem;
    }
    
    .section, .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        // border: 1px solid yellow;
        scroll-snap-align: start;
    }
    
    .icons-container {
        position: fixed;
        bottom: 5rem;
        left: 2rem;
    }
}